
# Security
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
db.sqlite3
*.sqlite3

# Virtualenv
venv/
venv_agm_bk/
env/
ENV/

# Django
*.log
*.pot
*.py[cod]
/staticfiles/
/media/

# IDE
.vscode/
.idea/
.DS_Store
